
/* custom gridview color */
.grid-custom th {
    background-color: #4f64cc !important;
    color: white !important;
    font-size: 13px !important;
    font-family: Verdana !important;
    font-weight: normal !important;
}

/* custom b coutton color */
.btn-custom {
    background-color: #4f64cc;
    color: white;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
    background-color: #2b3b80;
    color: white;
}







/* Select2 dropdown custom padding */
.select2-selection__rendered {
    line-height: 31px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}






/* Example CSS for a simple loading animation */
.pace {
    pointer-events: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

